<div class="copy-area">
  <div class="copy-area-inside">

    <div class="left">
      <p>Copyright &copy; 2013. Created by Hide and Search.</p>
    </div>

    <ul class="footer-menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-496">
        <%= link_to 'About', about_path %>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-497" id="menu-item-497">
        <%= link_to 'Contacts', contacts_path %>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>